DB_HOST=localhost
DB_PORT=3306
DB_USER=dexahub
DB_PASS=dexahub_pass
DB_NAME=dexahub_db
JWT_SECRET=change_me_in_production_jwt_secret
JWT_REFRESH_SECRET=change_me_in_production_refresh_secret

# api-gateway: set to 'localhost' for local dev, service name for Docker
AUTH_SERVICE_HOST=localhost
USER_SERVICE_HOST=localhost
ATTENDANCE_SERVICE_HOST=localhost
